<h2>Eventos</h2>
<hr>
<form action="" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <div class="input-group">
      <input type="text" class="form-control border-1 rounded-2" placeholder="Buscar">
      <button class="btn btn-outline-success ms-2 border-1 rounded-2">Buscar</button>
    </div>
  </div>
</form>
<table class="table table-striped mt-2 text-center">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td></td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Não exiestem eventos ativos</h4>
      </td>
    </tr>
  </tfoot>
</table>
