<h2>Eventos</h2>
<hr>
<div class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <div class="input-group mb-2">
      <input type="text" class="form-control border-1 rounded-2" placeholder="Buscar"
      [(ngModel)]="filtroLista">
      <div class="col-auto ms-2">
        <button class="btn btn-outline-dark border-1 rounded-2 "(click)="alterarImagem()">
          {{!mostrarImagem ? 'Exibir' : 'Ocultar'}}</button>
      </div>
    </div>
  </div>
</div>
<div class="input-group mt-2">
</div>
<table class="table table-striped mt-2 text-center align-middle">
  <thead class="table-dark">
    <tr>
      <th>Imagem</th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem" src="/assets/{{evento.imagemURL}}" alt="" [style.width.px]="150"
        [isAnimated]="true">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Não exiestem eventos ativos</h4>
      </td>
    </tr>
  </tfoot>
</table>
