<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valid: {{form.status | json}}</p> -->
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="form-floating">
            <input type="text" class="form-control rounded"
            [ngClass]="cssValidator(f.tema)"
            formControlName="tema" placeholder="Tema">
            <label>Tema</label>
            <div *ngIf="f.tema?.errors?.required" class="invalid-feedback">
              Tema é obrigatório
            </div>
            <div *ngIf="f.tema?.errors?.minlength" class="invalid-feedback">
              Tema deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="f.tema?.errors?.maxlength" class="invalid-feedback">
              Tema deve ter no máximo 50 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-8">
          <div class="form-floating">
            <input type="text" class="form-control rounded"
            [ngClass]="cssValidator(f.local)" formControlName="local" placeholder="local">
            <label>Local</label>
            <div class="invalid-feedback">
              O local é obrigatório!
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input type="text" class="form-control rounded"
            [ngClass]="cssValidator(f.dataEvento)"formControlName="dataEvento"
            placeholder="data" bsDatepicker [bsConfig]="bsConfig"/>
            <!-- Atribuido no input para usar com date pipe, como não estou usando por conta de um erro no pipe,
              não vou atribuir o value="{{evento.dataEvento | DateTime}}"-->
            <label>Data e Hora</label>
            <div class="invalid-feedback">
              Data e Hora são obrigatórios!
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-2">
          <div class="form-floating">
            <input type="number" class="form-control rounded"
            [ngClass]="cssValidator(f.qtdPessoas)" formControlName="qtdPessoas"
            placeholder="Pessoas">
            <label>Participantes</label>
            <div *ngIf="f.qtdPessoas?.errors?.required" class="invalid-feedback">
              Numero de pessoas é obrigatório!
            </div>
            <div *ngIf="f.qtdPessoas?.errors?.max" class="invalid-feedback">
              Numero maximo de pessoas excedido.
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <input type="text" class="form-control rounded"
            [ngClass]="cssValidator(f.telefone)" formControlName="telefone"
            placeholder="(000)90000-0000">
            <label>Telefone</label>
            <div class="invalid-feedback">
              telefone é obrigatório!
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input type="email" class="form-control rounded"
            [ngClass]="cssValidator(f.email)" formControlName="email"
            placeholder="email">
            <label>E-mail</label>
            <div *ngIf="f.email?.errors?.required" class="invalid-feedback">
              E-mail Obrigatório
            </div>
            <div *ngIf="f.email?.errors?.email" class="invalid-feedback">
              E-mail inválido.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input type="text" class="form-control rounded"
            [ngClass]="cssValidator(f.imagemURL)"formControlName="imagemURL"
            placeholder="imagem">
            <label>Imagem</label>
            <div class="invalid-feedback">
              Imagem Obrigatório
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border" (click)="limpaForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!-- <span class="spinner-border spinner-border-sm me-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
